body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App-logo {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 0.5s linear infinite;
  
}
.gallery-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 09s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


